# Module Title:	 Machine Learning for Business  
### Assessment Title:  MLBus_HDipData_CA1
### Lecturer Name:	 Dr. Muhammad Iqba  
### Student Full Name & Number:	Natalia de Oliveira Rodrigues 2023112 and Heitor Gomes de Araujo Filho 2023098

This CA will assess student attainment of the following minimum intended learning outcomes:

1. Critically evaluate and implement appropriate clustering algorithms and interpret and document 
their results. (Linked to PLO 1, PLO 5)
2. Apply modelling to time series data to facilitate business intelligence needs (Linked to PLO 1, PLO 2, 
PLO 3

**Project Objective:** 
Perform time series analysis on the historical plane crash data and use clustering techniques to identify patterns and clusters of crash incidents over time. 

1. **Temporal Patterns Analysis:** How the frequency of plane crashes has evolved over the years. Are there any long-term trends or seasonal patterns in crash occurrences?

2. **Clustering of Crash Incidents:** Identify commonalities among different incidents using clustering algorithms to group similar plane crashes based on characteristics such as crash causes, flight phases, and other relevant factors. 

3. **Visualization of Clustered Data:** How certain types of crashes have become more or less prevalent over the years?(identified clusters over time)

4. **Anomaly Detection:** These could be extreme or unusual crash incidents that deviate from the typical patterns.

5. **Forecasting:** Predict the future trend of plane crashes based on historical data using time series forecasting models. (valuable tool for aviation safety assessment)

6. **Interpreting Cluster Characteristics:**  Are there specific conditions or causes that lead to certain types of accidents? Investigate the characteristics and factors that contribute for each cluster of crashes formation.

7. **Evaluation of Clustering Methods:** Compare and evaluate different clustering algorithms to determine which one provides the most meaningful insights into the dataset.

**Aims:** 
- Deeper understanding of the historical plane crash data, 
- Identify recurring patterns, 
- Potentially discover factors that contribute to certain types of accidents.

# Exploratory Data Analysis

In [1]:
# import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('Plane Crashes.csv')

In [4]:
# To convert date to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
def glimpse(df):
    display(f'There are {df.shape[0]} observations and {df.shape[1]} attributes in this dataset.')
    print("-" * 120)
    display(df.head(3))
    print("-" * 120)
    display(df.tail(3))
    print("-" * 120)
    display(df.describe())
    print("-" * 120)
    display(df.info())
    print("-" * 120)
    display(df.isnull().sum().sort_values(ascending=False))
    
glimpse(df)

'There are 28536 observations and 24 attributes in this dataset.'

------------------------------------------------------------------------------------------------------------------------

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
0,1918-05-02,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32084,Takeoff (climb),Test,No,Airport (less than 10 km from airport),Dayton - Dayton,...,United States of America,North America,2.0,2.0,0.0,0.0,0.0,2,The single engine airplane departed Dayton-McC...,Technical failure
1,1918-06-08,NaN,Handley Page V/1500,Handley Page Aircraft Company Ltd,E4104,Takeoff (climb),Test,Yes,Airport (less than 10 km from airport),Cricklewood - Cricklewood,...,United Kingdom,Europe,6.0,5.0,0.0,0.0,0.0,5,"Assembled at Cricklewood Airfield in May 1918,...",Technical failure
2,1918-06-11,NaN,Avro 504,Royal Air Force - RAF,A8544,Flight,Training,Yes,"Plain, Valley",Abukir - Abukir,...,Egypt,Africa,2.0,1.0,0.0,0.0,0.0,1,The single engine aircraft was completing a lo...,Unknown

------------------------------------------------------------------------------------------------------------------------

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
28533,2022-05-24,15H 40M 0S,De Havilland DHC-3 Otter,Yakutat Coastal Airlines,N703TH,Landing (descent or approach),Charter/Taxi (Non Scheduled Revenue Flight),Yes,Airport (less than 10 km from airport),Yakutat â€“ Dry Bay,...,United States of America,North America,1.0,0.0,3.0,0.0,0.0,0,The single engine airplane departed Yakutat on...,Unknown
28534,2022-05-29,10H 7M 0S,De Havilland DHC-6 Twin Otter,Tara Air,9N-AET,Flight,Scheduled Revenue Flight,No,Mountains,Pokhara â€“ Jomsom,...,Nepal,Asia,3.0,3.0,19.0,19.0,0.0,22,The twin engine airplane departed Pokhara City...,Human factor
28535,2022-06-03,13H 46M 0S,Cessna 208B Grand Caravan,GoJump Oceanside,N7581F,Landing (descent or approach),Skydiving / Paratroopers,Yes,Airport (less than 10 km from airport),Oceanside - Oceanside,...,United States of America,North America,1.0,0.0,1.0,1.0,0.0,1,The single engine was completing local skydivi...,Unknown

------------------------------------------------------------------------------------------------------------------------

,Date,YOM,Flight no.,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities
count,28536,23225.000000,0.0,28512.000000,28535.000000,28482.000000,28535.000000,28526.000000,28536.000000
mean,1968-03-30 03:54:02.724978968,1931.942519,NaN,3.052539,1.771649,7.705393,3.679727,0.109760,5.567389
min,1918-05-02 00:00:00,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1945-05-04 18:00:00,1944.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1967-04-29 00:00:00,1958.000000,NaN,2.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1988-09-20 00:00:00,1974.000000,NaN,4.000000,3.000000,4.000000,1.000000,0.000000,5.000000
max,2022-06-03 00:00:00,19567.000000,NaN,1924.000000,25.000000,509.000000,506.000000,297.000000,520.000000
std,NaN,285.486067,NaN,11.738151,2.520554,24.066368,15.288171,2.644296,16.713203

------------------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28536 entries, 0 to 28535
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              28536 non-null  datetime64[ns]
 1   Time              13949 non-null  object
 2   Aircraft          28535 non-null  object
 3   Operator          28536 non-null  object
 4   Registration      27721 non-null  object
 5   Flight phase      27898 non-null  object
 6   Flight type       28479 non-null  object
 7   Survivors         27239 non-null  object
 8   Crash site        28153 non-null  object
 9   Schedule          19590 non-null  object
 10  MSN               24354 non-null  object
 11  YOM               23225 non-null  float64
 12  Flight no.        0 non-null      float64
 13  Crash location    28524 non-null  object
 14  Country           28535 non-null  object
 15  Region            28535 non-null  object
 16  Crew on board     28512 non-null  float64
 17  Crew fatalities   28535 non-null  float64
 18  Pax on board      28482 non-null  float64
 19  PAX fatalities    28535 non-null  float64
 20  Other fatalities  28526 non-null  float64
 21  Total fatalities  28536 non-null  int64
 22  Circumstances     28511 non-null  object
 23  Crash cause       28536 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(1), object(15)
memory usage: 5.2+ MB

None

------------------------------------------------------------------------------------------------------------------------

Flight no.          28536
Time                14587
Schedule             8946
YOM                  5311
MSN                  4182
Survivors            1297
Registration          815
Flight phase          638
Crash site            383
Flight type            57
Pax on board           54
Circumstances          25
Crew on board          24
Crash location         12
Other fatalities       10
Aircraft                1
Country                 1
Region                  1
Crew fatalities         1
PAX fatalities          1
Total fatalities        0
Date                    0
Operator                0
Crash cause             0
dtype: int64

## Data Preprocessing 

- Convert columns type to the approprieted data type 
- Delete columns due to high number of missing values: Flight no., Time
- Delete columns that contains unique identifier: MSN, Registration
- Set column Date as index
- Setect avition incidents that happens in the last 10 years in the dataset
- Drop remain missing values

In [6]:
# This will convert columns dtype
columns_to_convert = ['YOM', 'Crew on board', 'Crew fatalities', 'Pax on board', 'PAX fatalities', 
                      'Other fatalities', 'Total fatalities']

for column in columns_to_convert:
    df[column] = pd.to_numeric(df[column], errors='coerce').astype('Int64')

In [7]:
# This removes the 3 attributes mentioned above
df = df.drop(columns=["Flight no.", "Time", 'MSN','Registration'])

In [8]:
# This select recent data the past 10 Years 
# Allow us to capture contemporary trends and patterns.
df = df[df['Date'] > '31-05-2012']

In [9]:
# Attach your own 'Data' index to the dataframe
df.index = df['Date']

# Drop the 'Date' column from the dataframe
df.drop('Date', axis = 1, inplace = True)

In [10]:
df.isnull().sum().sort_values(ascending=False)

Schedule            140
YOM                  51
Flight type           4
Survivors             2
Flight phase          1
Aircraft              0
Crew fatalities       0
Circumstances         0
Total fatalities      0
Other fatalities      0
PAX fatalities        0
Pax on board          0
Country               0
Crew on board         0
Region                0
Operator              0
Crash location        0
Crash site            0
Crash cause           0
dtype: int64

In [11]:
# This removes all rows with any missing values - Less than 2% of the data will be dropped
df.dropna(inplace=True)

In [12]:
# Check the data after pre processing data
glimpse(df)

'There are 1277 observations and 19 attributes in this dataset.'

------------------------------------------------------------------------------------------------------------------------

,Aircraft,Operator,Flight phase,Flight type,Survivors,Crash site,Schedule,YOM,Crash location,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
Date,,,,,,,,,,,,,,,,,,,
2012-06-01,Boeing 737-400,Sriwijaya Air,Landing (descent or approach),Scheduled Revenue Flight,Yes,Airport (less than 10 km from airport),Jakarta - Pontianak,1990,Pontianak-Supadio West Kalimantan,Indonesia,Asia,8,0,155,0,0,0,The approach to Pontianak was unstable and rea...,Weather
2012-06-02,Boeing 727-200,Allied Air,Landing (descent or approach),Cargo,Yes,Airport (less than 10 km from airport),Lagos - Accra,1982,Accra-Kotoka Greater Accra,Ghana,Africa,4,0,0,0,10,10,"On 2nd June, 2012 at 1828hrs Allied Air Ltd Fl...",Human factor
2012-06-03,McDonnell Douglas MD-83,Dana Air,Landing (descent or approach),Scheduled Revenue Flight,No,City,Abuja - Lagos,1990,Lagos-Murtala Muhammed Lagos,Nigeria,Africa,6,6,147,147,6,159,"On 3rd June, 2012 at about 1545:00hrs, 5N-RAM,...",Technical failure

------------------------------------------------------------------------------------------------------------------------

,Aircraft,Operator,Flight phase,Flight type,Survivors,Crash site,Schedule,YOM,Crash location,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
Date,,,,,,,,,,,,,,,,,,,
2022-05-24,De Havilland DHC-3 Otter,Yakutat Coastal Airlines,Landing (descent or approach),Charter/Taxi (Non Scheduled Revenue Flight),Yes,Airport (less than 10 km from airport),Yakutat â€“ Dry Bay,1965,Dry Bay Alaska,United States of America,North America,1,0,3,0,0,0,The single engine airplane departed Yakutat on...,Unknown
2022-05-29,De Havilland DHC-6 Twin Otter,Tara Air,Flight,Scheduled Revenue Flight,No,Mountains,Pokhara â€“ Jomsom,1979,Shikha Dhawalagiri,Nepal,Asia,3,3,19,19,0,22,The twin engine airplane departed Pokhara City...,Human factor
2022-06-03,Cessna 208B Grand Caravan,GoJump Oceanside,Landing (descent or approach),Skydiving / Paratroopers,Yes,Airport (less than 10 km from airport),Oceanside - Oceanside,1994,Oceanside California,United States of America,North America,1,0,1,1,0,1,The single engine was completing local skydivi...,Unknown

------------------------------------------------------------------------------------------------------------------------

,YOM,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities
count,1277.0,1277.0,1277.0,1277.0,1277.0,1277.0,1277.0
mean,1980.754111,2.533281,1.122161,13.797964,4.075176,0.131558,5.328896
std,111.052237,2.375726,1.917773,37.092825,19.979393,1.463746,21.281916
min,16.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,1977.0,1.0,0.0,0.0,0.0,0.0,0.0
50%,1985.0,2.0,1.0,2.0,0.0,0.0,1.0
75%,1999.0,3.0,1.0,6.0,1.0,0.0,3.0
max,2020.0,18.0,17.0,291.0,283.0,35.0,298.0

------------------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1277 entries, 2012-06-01 to 2022-06-03
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Aircraft          1277 non-null   object
 1   Operator          1277 non-null   object
 2   Flight phase      1277 non-null   object
 3   Flight type       1277 non-null   object
 4   Survivors         1277 non-null   object
 5   Crash site        1277 non-null   object
 6   Schedule          1277 non-null   object
 7   YOM               1277 non-null   Int64
 8   Crash location    1277 non-null   object
 9   Country           1277 non-null   object
 10  Region            1277 non-null   object
 11  Crew on board     1277 non-null   Int64
 12  Crew fatalities   1277 non-null   Int64
 13  Pax on board      1277 non-null   Int64
 14  PAX fatalities    1277 non-null   Int64
 15  Other fatalities  1277 non-null   Int64
 16  Total fatalities  1277 non-null   Int64
 17  Circumstances     1277 non-null   object
 18  Crash cause       1277 non-null   object
dtypes: Int64(7), object(12)
memory usage: 208.3+ KB

None

------------------------------------------------------------------------------------------------------------------------

Aircraft            0
Region              0
Circumstances       0
Total fatalities    0
Other fatalities    0
PAX fatalities      0
Pax on board        0
Crew fatalities     0
Crew on board       0
Country             0
Operator            0
Crash location      0
YOM                 0
Schedule            0
Crash site          0
Survivors           0
Flight type         0
Flight phase        0
Crash cause         0
dtype: int64

## Data Preprocessing
- Investigating categorical data.

In [13]:
df.describe(include = 'object').T

,count,unique,top,freq
Aircraft,1277,244,Cessna 208B Grand Caravan,63
Operator,1277,1060,Private American,14
Flight phase,1277,5,Landing (descent or approach),617
Flight type,1277,27,Private,298
Survivors,1277,2,Yes,758
Crash site,1277,6,Airport (less than 10 km from airport),744
Schedule,1277,1245,Ketchikan - Ketchikan,4
Crash location,1277,1139,Wamena Special Region of Papua,7
Country,1277,129,United States of America,384
Region,1277,9,North America,445
Circumstances,1277,1276,"On May 13, 2019, about 1221 Alaska daylight ti...",2
Crash cause,1277,6,Human factor,600

In [14]:
# Invalid values column Year of manufacture
df.YOM.unique()

<IntegerArray>
[1990, 1982, 1959, 2006, 1993, 1976, 1981, 1986, 1970, 1968, 2008, 1969, 2007,
 1987, 1973, 1994, 1979, 1985, 1980, 2009, 1974, 2011, 1967, 1975, 2010, 1991,
 1978, 1956, 2005, 1989, 1934, 2012, 1957, 2000, 1992, 1983, 1988, 1977, 2001,
 1944, 1971, 1998, 1984, 1997, 1963, 1999, 1958, 2013, 1943, 1964, 2004, 1951,
 1930, 2003, 1995, 2002, 1972, 1996, 1952,   26, 1953, 2014,   18, 1960,   23,
 1966, 2015, 1961, 1954, 1928,   16, 1945, 1955, 2016, 1948, 1965, 1939, 2017,
 2018, 1942, 1962, 2020]
Length: 82, dtype: Int64

In [15]:
# To create a filter valid_year where only values after 1900 and before 2022 will be kept
valid_years = (df['YOM'] >= 1900) & (df['YOM'] <= 2022)
df = df[valid_years]

In [16]:
# This investigate unique values of Region attribute
df.Region.unique()

array(['Asia', 'Africa', 'North America', 'South America', 'Europe',
       'Central America', 'Oceania', 'Antarctica', 'World'], dtype=object)

In [17]:
# This investigate how many observations where Region is World
df_region_check = df[df['Region'] == 'World']
print(f'There are {df_region_check.shape[0]} observations where Region is classified as World.')

There are 13 observations where Region is classified as World.

**Details regarding Region:**
- World is a way to classify aviation incidents that do not belong to a specific continent or region. For example when it happen in internatinal airspace, or over oceans, or in locations that do not fall within the boundaries of a specific continent. 

- America continent is split in North America, South America and Central America to provide more detailed information regarding the region of the aviation incidents.

In [18]:
# This investigate unique values of Crash cause attribute
df['Crash cause'].unique()

array(['Weather', 'Human factor', 'Technical failure', 'Unknown',
       'Other causes', 'Terrorism act, Hijacking, Sabotage'], dtype=object)

In [19]:
# This investigate how many observations where Crash cause is Unknown
df_cause_check = df[df['Crash cause'] == 'Unknown']
print(f'There are {df_cause_check.shape[0]} observations where Crash cause is classified as Unknown.')

There are 337 observations where Crash cause is classified as Unknown.

In [20]:
df['Flight type'].value_counts()

Flight type
Private                                        298
Scheduled Revenue Flight                       199
Charter/Taxi (Non Scheduled Revenue Flight)    150
Cargo                                          139
Training                                        61
Positioning                                     60
Executive/Corporate/Business                    57
Military                                        56
Skydiving / Paratroopers                        40
Ambulance                                       38
Ferry                                           25
Survey / Patrol / Reconnaissance                24
Test                                            24
Spraying (Agricultural)                         22
Government                                      19
Fire fighting                                   13
Humanitarian                                    11
Illegal (smuggling)                              9
Geographical / Geophysical / Scientific          6
Meteorological / Weather                         5
Delivery                                         4
Calibration                                      3
Demonstration                                    3
Aerial photography                               2
Refuelling                                       2
Postal (mail)                                    2
Cinematography                                   1
Name: count, dtype: int64

**Details regarding Flight type:**
- Private: Private flights are those operated by individuals or organizations for non-commercial, personal, or business purposes.
- Scheduled Revenue Flight: These are the typical passenger or cargo flights you find in commercial aviation. Passengers purchase tickets or cargo space, and the flights follow a set timetable.
- Charter/Taxi (Non Scheduled Revenue Flight): Charter or non-scheduled revenue flights are flights that are not part of regular airline schedules. They are typically arranged on a case-by-case basis for specific customers or purposes.
- Survey / Patrol / Reconnaissance: they are operated for purposes like aerial photography, monitoring, or data collection.

**Done:**
- Date columns had dtype changed to datatime
- Data must be transformed in the dataset index and ascending sorted
- 4 Columns dropped
- The past 10 years was selected to captured conteponrary trends and patterns (Dataset contain data up to 03-06-2022)
- Less than 2% of missing data was dropped
- YOM, Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities, must be transformed in integer
- YOM has incorrect values like 16,18,23,26 when we are expecting 4 digit value YEAR like 2023
- Investigate Categorical Data

**To do:** :
- Transform categorical data into numeric to apply ML